# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Models
*.pkl
*.joblib
models/

# Data (büyük dosyalar için)
data/raw/titanic.csv
data/processed/titanic_processed.csv

# DVC
/data/raw/titanic.csv
/data/processed/titanic_processed.csv

# MLflow
mlruns/
mlartifacts/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Docker
.dockerignore

# Environment variables
.env
.env.local